{% extends 'layout.html' %}

{% block content %}

<div class="container mx-auto px-4 py-8 bg-gray-800 min-h-screen">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-8">
            <label for="rawTextInput" class="block text-lg font-medium text-gray-300">Paste your text here:</label>
            <textarea id="rawTextInput" name="text" rows="10" class="mt-1 block w-full p-2.5 text-base text-gray-300 bg-gray-700 rounded-lg border border-gray-600 shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Enter text to be formatted..."></textarea>
        </div>
        <button type="submit" class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Format Text</button>
    </form>
    {% if structured_text %}
    <div class="mt-8">
        <h2 class="text-lg font-medium text-gray-300 mb-4">Preview</h2>
        <div class="bg-gray-700 p-4 rounded-lg shadow text-gray-300 whitespace-pre-wrap">{{ structured_text }}</div>
    </div>
    <a href="{% url 'home:download_document' doc_path=doc_path %}" class="mt-4 px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out" download>Download as DOCX</a>
    {% endif %}
</div>
{% endblock %}
